// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: hotpink;
}

h3 {
  height: 20px;
}
ol > li {
  padding-top: 0;
}

.complete > li {
  text-decoration: line-through;
  color: lightgray;
}

.complete a {
  color: lightgray;
}

ul {
  padding-top: 0;
}

ul > li {
  border-left: solid;
  border-color: lightgray;
  padding-top: 0;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

input:last-child {
  width: 150px;
}
